<div class="container">
    <h2 class="title">Выбери свое направление</h2>
    <section class="programms" *ngIf="programsDiretcion; else loading">
        <div
            class="programms__item"
            *ngFor="let programm of programsDiretcion"
            [routerLink]="['/programs', programm.direction]"
        >
            <div
                class="programms__frontend"
                [ngStyle]="{
                    background: 'url(' + programm.bgImageDirection + ')'
                }"
            >
                <h2 class="programms__item-title">
                    {{ programm.text }}
                </h2>
            </div>
        </div>
    </section>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>
