$container_width: 1440px;

/**map colors**/

$main_color: #081158;
$second_color: #fff;
$color_back: #eef0f4;
$easy_color: #ec8675;

/**/

/**header vars**/

$header_text_link: #ec8675;

/**/

/**footer vars**/

$footer_text_color: #fff;
$footer_text_hover_color: #ec8675;
$footer_title_size: 12px;
$footer_elem_size: 19px;

/**/
