<aside class="home__aside">
    <div class="home__aside-posts">
        <h2 class="home__aside-posts-title">Последние статьи</h2>
        <div *ngIf="ready; else loading">
            <div
                class="home__aside-posts-item"
                *ngFor="let item of postsConfig"
            >
                <div
                    class="home__aside-posts-item-picture"
                    [ngStyle]="{
                        'background-image': 'url(' + item.img + ')'
                    }"
                ></div>
                <h2 class="home__aside-posts-item-title">{{ item.title }}</h2>
                <p class="home__aside-posts-item-desc">
                    {{ stripDescriptionText(item.text) }}
                </p>
                <div class="home__aside-posts-item-bottom">
                    <div class="home__aside-posts-item-bottom-data">
                        {{ item.date | date: "mediumDate":undefined:"ru" }}
                    </div>
                    <div
                        class="home__aside-posts-item-bottom-link"
                        (click)="goToInfo(item.id)"
                    >
                        Подробнее →
                    </div>
                </div>
            </div>
            <a href="#!">
                <div class="home__aside-posts-item za-babki">
                    <!-- класс типа reklama лучше не ставить, адблок такие блоки удаляет со страницы -->
                    <img
                        src="https://sun9-32.userapi.com/impg/UJ8MGNosiYKiRMCRhqSqo2sRnJvR9atrLDL6AQ/pftJ84m6D6Q.jpg?size=500x0&quality=95&sign=2f18ed0658cc7f2b4eb3c63dc7dee2f8"
                        alt="реклама"
                    /></div
            ></a>
        </div>

        <ng-template #loading>
            <app-loader></app-loader>
        </ng-template>
    </div>
</aside>
