@import "/src/global_styles/variables.scss";
.home__aside {
    margin-right: 20px;
    &-nav {
        margin-bottom: 30px;
    }
    &-posts {
        &-title {
            margin-bottom: 30px;
        }
        &-item {
            background: rgb(236, 236, 236);
            padding: 5px;
            margin-bottom: 30px;
            &-picture {
                width: 100%;
                height: 190px;
                background-size: cover;
                margin-bottom: 10px;
            }
            &-title {
                margin-bottom: 5px;
            }
            &-desc {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                margin-bottom: 5px;
            }
            &-bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                &-link {
                    position: relative;
                    color: #ec8675;
                    cursor: pointer;
                    transition: 0.3s;
                    font-weight: bold;
                    text-decoration: none;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1229px) {
    .home__aside-posts {
        display: none;
    }
}
