<div class="container">
    <h2 class="title">Выбери свое направление</h2>
    <section class="programms">
        <div
            [routerLink]="['/programs', programm.id]"
            class="programms__item"
            *ngFor="let programm of programms"
        >
            <div
                class="programms__frontend"
                [ngStyle]="{ background: 'url(' + programm.imgFront + ')' }"
            >
                <h2 class="programms__item-title">
                    {{ programm.name }}
                </h2>
            </div>
            <div
                class="programms__backend"
                [ngStyle]="{ background: 'url(' + programm.imgBack + ')' }"
            >
                <h2 class="programms__item-title">
                    {{ programm.name }}
                </h2>
            </div>
        </div>
    </section>
</div>
