@import "/src/global_styles/variables.scss";
.container {
  max-width: $container_width;
  margin: 0 auto 80px auto;
  .head {
    max-width: 600px;
    padding: 50px 16px 16px;
    margin: 0 auto 50px;
    text-align: center;
    &__title {
      max-width: 200px;
      margin: 0 auto;
      color: $easy_color;
      font-weight: bold;
      font-size: $middle_text;
      margin-bottom: 20px;
      text-transform: uppercase;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 3px;
        width: 34px;
        background: $easy_color;
        top: 18px;
        left: 2px;
        border-radius: 22%;
      }
    }
    &__subtitle {
      position: relative;
      font-weight: bold;
      font-size: $big_text;
      margin-bottom: 40px;
      text-transform: uppercase;
      color: $main_color;
    }
    &__subtitle-line {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 3px;
        width: 80px;
        background: $easy_color;
        top: -16px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 22%;
      }
    }
    &__description {
      color: $gray_color;
    }
  }
}
