.alert-wrap {
    position: fixed;
    top: 50px;
    right: 50px;
    max-width: 220px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    color: white;
    text-align: center;
    z-index: 10;
}
