@import "/src/global_styles/variables";
.container {
    max-width: $container_width;
    padding: 10px;
    margin: 0 auto;

    img {
        max-width: 220px;
        margin: 0 auto 40px auto;
    }
}
