@import "/src/global_styles/variables.scss";

.container {
    max-width: $container_width;
    margin: 0 auto;
    padding: 40px;
    text-align: center;

    .not-found__title {
        font-size: 14rem;
    }

    img {
        max-height: 300px;
        margin: 0 auto;
    }

    @media (max-width: 700px) {
        .not-found__title {
            font-size: 10rem;
        }

        img {
            max-height: 200px;
        }
    }
}
