<div class="container">
    <div class="program">
        <div class="program__header">
            <a class="program__link" routerLink="/programs"
                >&#8592; Вернуться к выбору программы</a
            >
        </div>

        <div *ngIf="programData; else loading">
            <h1 class="program__title">
                {{ programData?.title }}
            </h1>
            <img
                [src]="programData?.bgImageProgram"
                alt=""
                class="program__img"
            />
            <quill-view-html [content]="programData?.text"> </quill-view-html>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>
