<div
    class="programms__cards"
    *ngIf="currentProgramData?.length > 0; else loading"
>
    <div
        *ngFor="let item of currentProgramData"
        class="programms__cards-link"
        [routerLink]="['/program/', item.id]"
    >
        <div
            class="programms__cards-item"
            [ngStyle]="{
                'background-image': 'url(' + item.bgImageProgram + ')'
            }"
        >
            <!-- <picture>
                <source srcset="{{ item.img_webp }}" type="image/webp" />
                <img src="{{ item.img_jpg }}" alt="programm" class="programms__cards-item-picture" />
            </picture> -->
            <div class="programms__cards-item-inside">
                <h2 class="programms__cards-item-title">
                    {{ item.title }}
                </h2>
                <p class="programms__cards-item-desc">
                    {{ item.description }}
                </p>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>
