@import "/src/global_styles/variables.scss";
.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    text-align: center;
    margin: 50px auto;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    position: relative;
    max-width: 1250px;
    width: 100%;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 47%;
        transform: translateY(-50%);
        left: -85px;
        width: 100px;
        height: 4px;
        background: #000;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 47%;
        transform: translateY(-50%);
        right: -85px;
        width: 100px;
        height: 4px;
        background: #000;
    }
}

.menu {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60px;
    background: rgba(0, 0, 0, 83%);
    z-index: 3;
    padding: 15px 0;
    transition: all 0.3s ease;
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.menu__list-item {
    display: none;
    position: relative;
    border: none;
    font-size: 18px;
    transition: color 0.5s, transform 0.2s, background-color 0.2s;
    outline: none;
    padding: 10px 0;
    width: 230px;
    background-color: transparent;
    color: darken(rgb(211, 211, 211), 10%);
    text-align: center;
    cursor: pointer;
    &:active {
        transform: translateY(3px);
    }
    &::after,
    &::before {
        content: "";
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 3px solid #f5f5f5;
        transition: opacity 0.3s, border 0.3s;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 3px solid darken(rgb(241, 241, 241), 10%);
        opacity: 0;
        transform: scaleX(1.1) scaleY(1.3);
        transition: transform 0.3s, opacity 0.3s;
    }
    &:hover {
        box-shadow: none;
        color: darken(white, 10%);
        &:before {
            opacity: 0;
        }
        &::after {
            opacity: 1;
            transform: scaleX(1) scaleY(1);
        }
    }
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 50px;
    margin: 10px 0 30px;
    &__left {
        width: 300px;
        margin: 15px 0;
    }
    &__right {
        max-width: 900px;
        width: 100%;
        margin: 15px 0;
    }
    &__main-picture {
        width: 100%;
        min-height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto 30px;
    }
    &__picture {
        width: 100%;
        min-height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto 30px;
    }
    &__title {
        text-transform: uppercase;
        margin-bottom: 30px;
        font-size: $big_text;
    }
    &__description {
        margin-bottom: 30px;
        &-second {
            margin-bottom: 30px;
        }
    }
    &__pluses {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 30px;
    }
}

.parallax {
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
    padding: 0 20px;
    position: relative;
    // &::after {
    //     content: "";
    //     display: block;
    //     background: url(../../../../assets/images/parallax-element.svg) center top no-repeat;
    //     background-size: cover;
    //     height: 0;
    //     width: 100%;
    //     padding-bottom: 11%;
    //     position: absolute;
    //     bottom: -22px;
    // }
    &__title {
        font-size: 50px;
        color: $second_color;
        text-align: center;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 1440px) {
    .title {
        &::before {
            display: none;
        }
        &::after {
            top: 115%;
            right: 50%;
            transform: translate(50%, -50%);
            width: 200px;
        }
    }
}

@media screen and (max-width: 1239px) {
    .home {
        padding-top: 0;
        justify-content: center;
        align-items: center;
    }
    .home__right {
        max-width: none;
    }
    .home__left {
        display: none;
        margin: 70px 0 15px;
    }
    .home__description-second {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .title {
        text-align: center;
        margin: 30px auto;
        font-size: 45px;
        &::after {
            display: none;
        }
    }
    .menu__list {
        flex-direction: column;
    }
    .menu__list-item {
        display: block;
        margin: 10px 0;
    }
}

@media screen and (max-width: 500px) {
    .parallax__title {
        font-size: 36px;
    }
}

@media screen and (max-width: 425px) {
    .title {
        font-size: 33px;
    }
    .parallax {
        background-attachment: local;
        background-position: 35%;
    }
}
