<div class="container">
  <section class="home">
    <div class="home__left">
      <app-sidebar></app-sidebar>
    </div>
    <div class="home__right">
      <div
        class="home__main-picture"
        [ngStyle]="{ 'background-image': 'url(' + dataPage2[0].imgMain + ')' }"
      ></div>
      <h2 class="home__title">
        {{ dataPage2[0].title }}
      </h2>
      <p class="home__description">
        {{ dataPage2[0].topDescription }}
      </p>
      <div class="home__pluses">
        <app-pluses
          *ngFor="let item of dataPluses2"
          img="{{ item.img }}"
          title="{{ item.title }}"
          description="{{ item.description }}"
        >
        </app-pluses>
      </div>
      <div
        class="home__picture"
        [ngStyle]="{
          'background-image': 'url(' + dataPage2[0].imgSecond + ')'
        }"
      ></div>
      <p class="home__description-second">
        {{ dataPage2[0].bottomDescription }}
      </p>
    </div>
  </section>
  <section class="trainers">
    <h2 class="trainers__title">Online trainers</h2>
    <div class="trainers__cards">
      <app-trainer
        *ngFor="let item of dataTrainers2"
        img="{{ item.img }}"
        name="{{ item.name }}"
        direction="{{ item.direction }}"
      ></app-trainer>
    </div>
  </section>
</div>
