<div class="container">
    <h2 class="title">Список программ</h2>
    <div class="programms__cards" *ngIf="programListData; else loading">
        <a
            *ngFor="let program of programListData"
            class="programms__cards-link"
            [routerLink]="['/program/', program.id]"
        >
            <div
                class="programms__cards-item"
                [ngStyle]="{
                    'background-image': 'url(' + program.bgImageProgram + ')'
                }"
            >
                <!-- <picture>
                    <source srcset="{{ item.img_webp }}" type="image/webp" />
                    <img src="{{ item.img_jpg }}" alt="programm" class="programms__cards-item-picture" />
                </picture> -->
                <div class="programms__cards-item-inside">
                    <h2 class="programms__cards-item-title">
                        {{ program.title }}
                    </h2>
                    <p class="programms__cards-item-desc">
                        {{ program.description }}
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>
