<div [ngClass]="{ active: isActive }" class="header__mobile">
  <nav class="header__mobile-nav">
    <ul class="header__mobile-nav-list">
      <app-header-mobile-btn
        *ngFor="let item of btns"
        text="{{ item.text }}"
        hrefLink="{{ item.hrefLink }}"
      >
      </app-header-mobile-btn>
      <li class="header__mobile-nav-list-item">
        <div class="header__mobile-nav-list-link" (click)="openModal()">
          Написать нам
        </div>
      </li>
    </ul>
  </nav>
</div>
