@import "/src/global_styles/variables.scss";
.header {
    &__mobile {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #000;
        opacity: 0;
        transition: all 0.5s ease;
        visibility: hidden;
        &-nav {
            height: 100%;
            &-list {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100%;
                padding: 30px 0;
            }
        }
    }
}

.active {
    opacity: 0.8;
    transition: all 0.5s ease;
    visibility: visible;
    z-index: 4;
}

@media screen and (min-width: 768px) {
    .header__mobile,
    .active {
        opacity: 0;
        visibility: hidden;
    }
}

@import "/src/global_styles/variables.scss";
.header__mobile {
    &-nav {
        &-list {
            &-item {
                margin-bottom: 35px;
            }
            &-link {
                color: #fff;
                text-decoration: none;
                transition: all 0.3s ease;
                font-size: 49px;
                &:hover {
                    color: $header_text_link;
                    transition: all 0.3s ease;
                }
            }
        }
    }
}

.active {
    color: $header_text_link;
}
