<footer class="footer">
    <div class="footer__container">
        <div class="footer__logo">
            <a routerLink="/">
                <img src="assets/images/logo.png" alt="logo" />
            </a>
        </div>
        <div class="footer__wrapper-elems">
            <div class="footer__wrapper-left">
                <div class="footer__contacts">
                    <div class="footer__contacts title">КОНТАКТЫ</div>
                    <div class="footer__contacts-mail">
                        <a href="mailto:contact@gmail.com">contact@gmail.com</a>
                    </div>
                </div>
                <div class="footer__info">
                    <ul class="footer__info-wrapper">
                        <li class="footer__info-elem title">СВЯЗЬ</li>
                        <li class="footer__elem">
                            <div
                                class="footer__sup-modal"
                                (click)="openModal()"
                            >
                                Написать нам
                            </div>
                        </li>
                        <app-footer-btn
                            *ngFor="let item of dataBtns.infoBtns"
                            hrefLink="{{ item.linkHref }}"
                            target="{{ item.target }}"
                            text="{{ item.text }}"
                            routLink="{{ item.linkHref }}"
                            targetBtn="href"
                        >
                        </app-footer-btn>
                    </ul>
                </div>
            </div>

            <div class="footer__explore">
                <ul class="footer__explore-wrapper">
                    <li class="footer__explore-elem title">ДОПОЛНИТЕЛЬНО</li>
                    <app-footer-btn
                        *ngFor="let item of dataBtns.exploreBtns"
                        routLink="{{ item.routerLink }}"
                        text="{{ item.text }}"
                        targetBtn="router"
                    >
                    </app-footer-btn>
                </ul>
            </div>
        </div>
    </div>
</footer>
