@import "/src/global_styles/variables.scss";

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 10px;

    &_flex-sb {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header {
    min-height: 500px;
    position: relative;

    &__sup-modal {
        cursor: pointer;
        color: #fff;
        transition: all 0.3s;

        &:hover {
            color: $header_text_link;
        }
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__left {
        z-index: 5;
    }

    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 680px;
        width: 100%;
        z-index: 5;
    }

    &__logo {
        max-width: 100px;
        background: rgb(236 134 117 / 20%);
        margin-top: 10px;
        border-radius: 10px;
        padding: 3px;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.1);
        }

        &-picture {
            width: 100%;
        }
    }

    &__nav {
        max-width: 450px;
        width: 100%;
    }

    &__nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 100%;
    }

    &__search-link {
        display: block;
        width: 22px;
    }
}

.burger {
    display: none;
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 10;

    &__line-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: #fff;
        transition: all 0.2s ease;
    }

    &__line-2 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        height: 4px;
        background: #fff;
        transition: all 0.2s ease;
        opacity: 1;
    }

    &__line-3 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: #fff;
        transition: all 0.2s ease;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        &__right {
            max-width: 450px;
        }
    }
}

@media screen and (max-width: 767px) {
    .header {
        &__nav-list {
            justify-content: flex-end;
        }

        &__right {
            flex-direction: row-reverse;
            max-width: 60px;
        }

        &__sup-modal {
            display: none;
        }
    }

    .burger {
        display: block;
    }

    .active {
        .burger__line-1 {
            transform: rotate(-45deg) translate(-7px, 6px);
            background: $easy_color;
        }

        .burger__line-2 {
            opacity: 0;
        }

        .burger__line-3 {
            transform: rotate(45deg) translate(-5px, -5px);
            background: $easy_color;
        }
    }
}
