<div *ngIf="posts.length; else loading">
    <h2 class="title">Посты</h2>

    <div class="form-wrapper">
        <input
            class="form-control"
            type="text"
            placeholder="Поиск по названию..."
            [(ngModel)]="searchStr"
        />
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Автор</th>
                <th>Название</th>
                <th>Дата</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="
                    let post of posts | searchPosts: searchStr;
                    let idx = index
                "
            >
                <td>
                    {{ idx + 1 }}
                </td>
                <td>
                    {{ post.author }}
                </td>
                <td>
                    {{ post.title }}
                </td>
                <td>
                    {{ post.date | date: "mediumDate":undefined:"ru" }}
                </td>
                <td class="wrapper-btn">
                    <button
                        class="btn btn-primary"
                        [routerLink]="['/admin', 'post', post.id, 'edit']"
                    >
                        Открыть
                    </button>
                    <a class="btn btn-danger" (click)="remove(post.id)"
                        >Удалить</a
                    >
                </td>
            </tr>
        </tbody>
    </table>
</div>
<a class="nav-link" [routerLink]="['/admin', 'create-post']"> Создать пост </a>
<ng-template #loading>
    <p class="text-center">{{ helpText }}</p>
</ng-template>
