.btn {
    margin-right: 10px;
}

.form-wrapper {
    margin-bottom: 20px;
}

table {
    .wrapper-btn {
        display: flex;
        justify-content: space-around;
    }

    td,
    th {
        padding: 10px 15px;
        border-bottom: 1px solid black;
    }
}

.title {
    margin-bottom: 20px;
}
