<form [formGroup]="form" (ngSubmit)="submit()">
    <h3>Создание нового поста</h3>
    <div
        class="form-group"
        [ngClass]="{
            invalid: form.get('title')?.touched && form.get('title')?.invalid
        }"
    >
        <label for="title">Заголовок поста:</label>
        <input
            class="form-control"
            type="text"
            id="text"
            formControlName="title"
        />
        <div
            class="validation"
            *ngIf="form.get('title')?.touched && form.get('title')?.invalid"
        >
            <small
                class="text-danger"
                *ngIf="form.get('title')?.errors?.['required']"
                >Введите заголовок поста</small
            >
        </div>
    </div>

    <div
        class="form-group"
        [ngClass]="{
            invalid: form.get('img')?.touched && form.get('img')?.invalid
        }"
    >
        <label for="img">Ссылка на картинку под заголовком:</label>
        <input
            class="form-control"
            type="text"
            id="img"
            formControlName="img"
        />
        <div
            class="validation"
            *ngIf="form.get('img')?.touched && form.get('img')?.invalid"
        >
            <small
                class="text-danger"
                *ngIf="form.get('img')?.errors?.['required']"
                >Добавьте ссылку на картинку</small
            >
        </div>
    </div>

    <div class="form-group">
        <label>Контент поста</label>
        <quill-editor formControlName="text"></quill-editor>
    </div>

    <div
        class="form-group"
        [ngClass]="{
            invalid: form.get('author')?.touched && form.get('author')?.invalid
        }"
    >
        <label for="author">Автор поста:</label>
        <input
            class="form-control"
            type="text"
            id="author"
            formControlName="author"
        />
        <div
            class="validation"
            *ngIf="form.get('author')?.touched && form.get('author')?.invalid"
        >
            <small
                class="text-danger"
                *ngIf="form.get('author')?.errors?.['required']"
                >Введите автора поста</small
            >
        </div>
    </div>

    <button
        type="submit"
        class="btn bnt-block btn-dark"
        [disabled]="form.invalid"
    >
        Создать пост
    </button>
</form>
