<div class="container">
    <div *ngIf="post$ | async as post; else loading">
        <div class="post">
            <div class="post__header">
                <a class="post__link" routerLink="/posts"
                    >&#8592; Вернуться к постам</a
                >
                <div class="post__info">
                    <div class="post__info-date">
                        {{ post.date | date: "mediumDate":undefined:"ru" }}
                    </div>
                    <div>
                        Автор: <strong>{{ post.author }}</strong>
                    </div>
                </div>
            </div>
            <h1 class="post__title">
                {{ post.title }}
            </h1>
            <img class="post__img" [src]="post.img" alt="img" />
        </div>
        <div class="post__content">
            <quill-view-html [content]="post.text"> </quill-view-html>
        </div>
    </div>

    <ng-template #loading>
        <app-loader></app-loader>
    </ng-template>
</div>
