<div *ngIf="post$ | async as post; else loading">
    <div class="post">
        <button routerLink="/posts">Вернуться к постам</button>
        <div class="post__header">
            {{ post.title }}
        </div>
        <img [src]="post.img" alt="img" />
    </div>
    <div class="post__info">
        <strong>{{ post.author }}</strong>
        <small>{{ post.date | date: "mediumDate":undefined:"ru" }}</small>
    </div>

    <div class="post__content">
        <quill-view-html [content]="post.text"> </quill-view-html>
    </div>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>
