.home__pluses-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    width: 100%;
    margin-bottom: 30px;

    &-icon {
        width: 40px;
        margin-right: 10px;
    }

    &-text {
        display: flex;
        flex-direction: column;
    }
}
