<app-alert></app-alert>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h3>
        <a class="navbar-brand" routerLink="/"> &#8592; Вернуться на сайт </a>
    </h3>
    <ul class="navbar-nav mr-auto" *ngIf="auth.isAuth()">
        <li routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/admin', 'dashboard']">Посты</a>
        </li>
        <li routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/admin', 'banners-list']"
                >Баннеры</a
            >
        </li>
        <li routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/admin', 'program']"
                >Программы тренировок</a
            >
        </li>
        <li routerLinkActive="active">
            <!-- <a class="nav-link" [routerLink]="['/admin', 'program']"
                >Тренера</a
            > TODO компонент с редактором тренеров -->
            <a class="nav-link" href="/" onclick="return false">Тренера</a>
        </li>
        <li>
            <a class="nav-link" href="#" (click)="logout($event)">Выйти</a>
        </li>
    </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>
